<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

    <title>Add</title>
</head>
<body>

<form th:method="POST" th:action="@{/add}" th:object="${user}">

    <label>Name:</label>
    <input type="text" th:field="*{name}" />
    <label>Surname:</label>
    <input type="text" th:field="*{surname}" />
    <label>Age:</label>
    <input type="text" th:field="*{age}" />
    <label>Profession:</label>
    <input type="text" th:field="*{profession}" />

    <input type="submit" value="Add user">

</form>

</body>
</html>